.active {
    border: 2px solid green;
    border-radius: 5px;
    padding: 8px;
    color: #ec4899;
  }

  .tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 0.5rem;
    position: absolute;
    top: 3rem; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 10;
    animation: fadeIn 0.2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  